<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheet.css">
    <title>Template Page</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav id="nav-trial-1">
        <div class="container-fluid py-2 d-flex align-items-center justify-content-between">

            <!-- This ensures that they are all equdistant -->
            <div class="d-flex align-items-center gap-3">
                <a href="#"><img src="../Images/Hornet-Logo-Black.png" alt="Curly 'g', which is the website logo."></a>
                <a href="#" class="text-decoration-none text-black fw-bold">HOME</a>
                <a href="#" class="text-decoration-none text-black fw-bold">ABOUT</a>
                <a href="#" class="text-decoration-none text-black fw-bold">REPORT</a>
                <a href="#" class="text-decoration-none text-black fw-bold">MORE</a>
            </div>
            <a href="#" class="btn btn-dark px-2 px-md-3 py-1 rounded-pill fw-bold align-items-center">CONTACT US</a>
        </div>
    </nav>

    <footer id="footer-trial-1" class="text-white py-2 container-fluid">
        <div class="row align-items-center px-3">
            
        <div class="col-12 col-md-auto mb-3 mb-md-0 d-flex flex-column align-items-center align-items-md-start">
            <a href="#"><img src="../Images/Hornet-Logo-White.png" alt="Logo" class="footer-logo mb-1 mx-4" style="height: 50px;"></a>
            <p class="mb-0 small fw-light text-center text-md-start">Wasp Team 2026.</p>
        </div>

        <div class="col-md d-none d-md-block"></div>
            <div class="col-12 col-md-auto">
                <div class="d-flex flex-column flex-md-row gap-md-3">
                    
                    <hr class="w-100 d-md-none border-light opacity-50 my-2">
                    <div class="border-md-start ps-md-4 py-md-1">
                        <a href="#" class="d-block text-decoration-none text-white small">Home</a>
                        <a href="#" class="d-block text-decoration-none text-white small">About Us</a>
                    </div>

                    <hr class="w-100 d-md-none border-light opacity-50 my-2">
                    <div class="border-md-start ps-md-4 py-md-1">
                        <a href="#" class="d-block text-decoration-none text-white small">Report</a>
                        <a href="#" class="d-block text-decoration-none text-white small">Identification</a>
                    </div>

                    <hr class="w-100 d-md-none border-light opacity-50 my-2">
                    <div class="border-md-start ps-md-4 py-md-1">
                        <a href="#" class="d-block text-decoration-none text-white small">Info</a>
                        <a href="#" class="d-block text-decoration-none text-white small">Safety</a>
                    </div>
                    <hr class="w-100 d-md-none border-light opacity-50 mt-2">
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>