body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111
}

.nav {
    background: #FFC219;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.Logo{
    width: 30px;
}