body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111
}

.nav {
    background: #FFC219;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.Logo{
    width: 30px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s;
}

.nav a:hover {
    opacity: 0.6;
}

.active {
    background: black;
    color: #FFC219;
    padding: 6px 14px;
    border-radius: 10px;
}

.contact-btn {
    background: #2f2f2f;
    color: white;
    padding: 8px 18px;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.contact-btn:hover {
    background: black;
}

.hero {
    background: #ffcb3b;
    padding: 60px 40px;
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: 
    radial-gradient(circle at 25% 30%, rgba(255,255,255,0.1) 2px, transparent 2px),
    radial-gradient(circle at 75% 60%, rgba(255,255,255,0.1) 2px, transparent 2px);
    background-size: 80px 80px;
    opacity: 0.5;
}

.hero h1,
.hero h2 {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 50px;
    margin: 0;
}

.hero h2 {
    font-size: 60px;
    margin: 0;
}

.container {
    background: #e5e5e5;
    padding: 40px;
}

.content {
    display: flex;
    gap: 30px;
}

.info-box {
    background: #cfcfcf;
    flex: 1;
    padding: 20px;
}

.info-img {
    background: #999;
    width: 110px;
    height: 110px;
    float: right;
}

.info-text {
    text-align: center;
    font-size: 28px;
    margin-top: 120px;
}

.waarning-box {
    background: #ffd500;
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

.warning-title {
    background: black;
    color: #ffd500;
    font-size: 28px;
    padding: 12px;
    font-weight: bold;
    border-radius: 6px;
}

.warning-content {
    margin-top: 20px;
    font-weight: bold;
}

.footer {
    background: #3b2b3b;
    color: white;
    padding: 20px;
}

.footer-text {
    text-align: center;
    justify-content: space-around;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}